:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-gblue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
* , *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
}
.app{
    border-radius: 1rem;
    background-color: var(--White);
}
.card{
    display: flex;
    width: 21rem;
    padding: 1em 1em 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}
.image{
    border-radius: 0.7rem;
    width: 100%
}

.title{
    font-size: 1.2rem;
    font-weight: 700;
}
.description{
    font-size: 1rem;
    color: var(--Grayish-gblue);
    font-weight: 400;
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    gap: 1em;
}